/**
 * Global Footer Styles
 */

footer {
    margin-top: 25px;
    font-size: 22px;

    i {
        color: red;
    }

    a {
        color: $text-color;
        text-decoration: none;
        border-bottom: 1px dotted $text-color;
        padding-bottom: 3px;
        @include animate(all);

        &:hover {
            color: $elx-orange;
            text-decoration: none;
        }
    }
}
