/**
 * Global Styles
 */

html,
body {
	@include font-smoothing(on);
	min-height: 750px;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #FFF;
	@include animate(all);

	&:hover {
		text-decoration: none;
		border-bottom-color: $elx-orange;
	}
}

header {
	margin: 30px 0;

	a {
		border-bottom: 0 !important;
	}

	img {
		max-width: 300px;
	}
}

h1 {
	margin: 15px 0 30px;
}

label {
	font-size: 14px;
	text-transform: uppercase;

	span {
		&.req {
			color: red;
			display: inline-block;
			margin-left: 3px;
		}
	}
}

.help-block {
	font-size: 13px;
}

input {
	&:not(.btn) {
		background: #E8E8E8;

		&:focus {
			background: #FFF;
		}
	}
	&.btn {
		height: 47px;
		font-family: $helvetica-light;
	    font-size: 16px;
		@include animate(all);

		&[type="submit"] {
			background: #091f52;
			border-color: #1b305f;
		}

		&[type="reset"] {
			background: #2f3544;
		    border-color: #2f3544;
		}

		&:hover {
			color: #fff;
		    background-color: #3276b1;
		    border-color: #285e8e;
		}
	}
}

.form-group {
	&.submit {
		border-top: 1px solid #CCC;
		padding-top: 30px;
		.col-sm-6 {
			height: 47px;

			span {
				display: block;
				padding-top: 12px;
				text-align: right;
				color: darken($text-color, 20%);
			}
		}
	}
}

@media screen and (max-width: $screen-sm) {
	.form-group {
		&.submit {
			.col-sm-6 {
				span {
					text-align: left;
				}
			}
		}
	}
}
